/*
Table of contents]

1. Header
	1.1 Navigation / nav

2. Home Page Background

3. About
	3.1. About Me
	3.2. Download CV

4. Service 
  
5. Portfolio
	4.1. Project Details
6. Work For Company 

7. Footer 

**/
*{
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
/*--------------------------------------------
              Body And Scroll Design
---------------------------------------------*/
body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
/* paleGreenScroll */
body::-webkit-scrollbar {
    width: .4em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
body::-webkit-scrollbar-thumb {
  background-color: #777;
  outline: 1px solid #333;
}
/*--------------------------------------------
              Start Navbar
---------------------------------------------*/
.navbar-default{
    /* navbar color */
    background: transparent;
    border: none;
    padding: 25px 0 10px 0;
    margin-bottom: 0;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(238, 238, 238, 0.72);
}
/* start navbar color for name project */
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar-brand span{
    font-size: 17px;
}
/* end navbar color for name project */
.navbar-default .navbar-nav  li:last-of-type{
    padding-right: 40px;
}
/* color a */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}
/* link when Hover  */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus 
{   /* navbar when active, hover and foucus */
    color: #DDD;
    border-bottom: 2px solid #0ff;
}
/* end navbar for bootstrap*/
.navscroll{
    background: #fff;
    top: 0;
    padding: 4px;
    margin-top: 0px;
    box-shadow: 0 15px 60px rgba(218, 216, 216, 0.84);
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}
.color-link{
    color: #333 !important;
}
.padding-nav{
    padding: 15px 0;
    -webkit-transition:all .7s ease-in-out;
    transition:all .7s ease-in-out;
}
/*---------------------------------------------
                End Navbar
-----------------------------------------------*/

/*---------------------------------------------
               Start Home Page 
-----------------------------------------------*/
.home-page{
    width: 100%;
    height: 100%;
    top: 0;
    color: #fff;
    overflow: hidden;
}
.sub-container h1,
.sub-container h2,
.sub-container h4{
    color: #fff;
    letter-spacing: 1px;
}
.sub-container h4{
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 20px;
}
.sub-container h2{
    font-size: 25px;
    letter-spacing: 1.5px;
    margin-top: 0;
    margin-bottom: 40px;
}
.sub-container h1{
    font-size: 6em;
    font-weight: 900;
    margin: 0;
}
.angle-down{
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 24px;
    font-weight: bold;
    font-size: 17px;
    display: table;
    width: 100%;
}
.angle-down:hover,
.angle-down:focus{
    color: #fff;
    text-decoration: none;
}
.angle-down i{
    font-size: 3em;
    animation: cd-translate  2.5s ease-in-out infinite;
    display: table-cell;
    vertical-align: middle;
}
@keyframes cd-translate {
  0% {
      opacity: .8
  }
  50% {
     -webkit-transform: translateY(12px)  scale(1);
      opacity: 0;
  }
  100% {
    -webkit-transform:  scale(1);
      opacity: .6;
      
  }
}
/* -----------------------------------------------
               End Home Page
--------------------------------------------------*/



/* -----------------------------------------------
               Gets rid of the bullet point on <li>
--------------------------------------------------*/


.ul{ list-style-type: none; } 




/*------------------------------------------------
              start about Page 
--------------------------------------------------*/
.about .container h2:before{
    content: "";
    position: absolute;
    border-width: 1px;
    padding-left: 144px;
    border-color: transparent transparent #333;
    padding-bottom: 12px;
    margin-top: 25px;
    border-style: solid;
}
.about .container  img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.about .container  h2{
    margin-bottom: 25px;
    margin-top: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about .container .sub-p{
    padding: 16px 0;
    line-height: 30px;
    

}
.about .container .sub-text{
    color: #222;
    line-height: 30px;
    margin-top: 25px;
}
.about .container a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    padding: 0 5px;
    font-weight: 600;
}
.about .container a:hover{
    text-decoration: line-through;
}
/*--------------------------------------------------
               End about Page
----------------------------------------------------*/

/*---------------------------------------------------
               Start Service
-----------------------------------------------------*/
/* Width For After In Service*/
.service .container h2:before{
    content: "";
    position: absolute;
    border-width: 1px;
    padding-left: 133px;
    border-color: transparent transparent #333;
    padding-bottom: 12px;
    margin-top: 25px;
    border-style: solid;
}

.service .row h2 strong{
    font-size: 24px;
    letter-spacing: 20px
}
.service .row h4{
    font-size: 18px;
    font-weight: 600;
}
.service .row .sub-text{
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 1px;
}
.service i{
    color: #555;
    margin-bottom: 15px;
}
/*----------------------------------------------------
                  End Service
------------------------------------------------------*/

/*--------------------------
        Start Work Page 
----------------------------*/
.portfoliopage h2:before{
    content: "";
    position: absolute;
    border-width: 1px;
    padding-left: 103px;
    border-color: transparent transparent #333;
    padding-bottom: 12px;
    margin-top: 25px;
    border-style: solid;
}
.filtr-item {
    padding: 1rem;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}
/* Filter controls */
.filtr-container{
    margin-top: 40px;
}
/* Filter controls */
.div-hover{
    background-color: rgba(23, 22, 22, 0.25);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    margin: 0px 13px;
    z-index: 1;
    top: 30%;
    left: -2px;
    right: -2px;
    opacity: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.div-hover a{
    color: #fff;
    text-decoration: none;
}
.div-hover a i{
    margin-right: 10px;
}
.filtr-item{
    margin-bottom: 30px;
}
.filtr-item:hover .div-hover{
    opacity: 1;
}
.div-hover a:hover .div-hover a:focus{
    color: #fff;
    border: none;
}
.item-desc{
    position: absolute;
    bottom: 11px;
    text-align: center;
    left: 10px;
    right: 10px;
    padding: 10px 0;
    background: rgba(68, 68, 68, 0.44);
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/*--------------------------
        End Work Page 
----------------------------*/
.TESTIMONIALS{
    padding: 10px 0;
}
.TESTIMONIALS h2{
    letter-spacing: 4px;
}
.TESTIMONIALS h2:before{
    content: "";
    position: absolute;
    border-width: 1px;
    padding-left: 257px;
    border-color: transparent transparent #333;
    padding-bottom: 12px;
    margin-top: 25px;
    border-style: solid;
}
#quote-carousel{
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li{
    background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
}
#quote-carousel img{
    width: 120px;
    height: 120px;
}
.item blockquote {
    border-left: 5px solid #333;
    margin: 0;
}
.item blockquote img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
/***********************
    Start Contact
************************/
.contact .container h2:after{
    content: "";
    position: absolute;
    border-width: 1px;
    padding-left: 150px;
    border-style: solid;
    padding-top: 2px;
    border-color: #333 transparent transparent;
    margin-left: -166px;
    margin-top: 44px;
}
.contact form{
    padding-top: 25px;
}
.contact form .btn-pr{
    background: #2c2c2c;
    color: #fff;
    padding: 10px 56px;
    font-size: 18px;
    border: 1px solid #7b7b7b;
    margin-top: 20px;
}
.contact form .btn-pr:hover{
    color: #333;
    background-color: #fff;
}
/* bootstrap Contact */
.form-text{
    padding-top: 45px;
}
.form-control {
    resize: none;
    height: 53px;
    border: none;
    border-bottom: 1px solid #555;
    outline: none;
    border-radius: 0;
    box-shadow: none;
}
.form-control:focus{
    border-color: #333;
    box-shadow: none;
}
.data-contact {
    font-size: 15px;
    margin: 18px 0;
}
.data-contact p{
    line-height: 1.7;
}
.data-contact-text{
    margin-top: 20px;
}
.data-contact-text .number{
    margin-bottom: 5px;
}
/***********************
    End Contact
************************/

/*------------------------------------------------------
                 Start footer
--------------------------------------------------------*/
footer{
    background: #333;
    color: #fff;
    padding: 30px 0;
    /* height: 30px; */
}
footer p{
    font-size: 15px;
    max-width: 62%;
    text-align: center;
    margin: 0 auto;
    color: #eee;
}
footer p span {
    color:#f9f9f9;
    text-decoration:underline;
}
footer p span:hover {
    color:#DDD;
    cursor: pointer;
}
.icon-top{
    position: fixed;
    top: 89%;
    font-size: 20px;
    right: 10px;
    background: rgba(51, 51, 51, 0.62);
    display: none;
    border-radius: 50%;
    color: #fff;
}
.icon-top:hover{
    color: rgb(173, 171, 171);
}
/*-------------------------------------------------------
                  End footer
--------------------------------------------------------*/

/*------------------------------------------------------
                Start General
--------------------------------------------------------*/
.about,
.portfoliopage, 
.contact,
.service{
    padding-top: 100px;
    padding-bottom: 100px;
}
.service,
.TESTIMONIALS{
    background: #fafafa;
}
p{
    font-size: 16px;
    color: #222;
    line-height: 35px;
    letter-spacing: 1px;
}


/* All Title For Site  */
.row{
    padding: 20px 0px;
}
.service .container h2 ,
.portfoliopage .container h2,
.contact  h2{
    font-size: 28px;
    letter-spacing: 5px;
    margin: 15px 0px 65px 0px;
    font-weight: bolder;
    text-transform: uppercase;
}
.contact form .btn-pr:hover,
.btn-pr:hover{
    background: rgba(255, 255, 255, 0.44);
    color: #333;
    border: 1px solid #333;
}
/*-----------------------------------------------------------
                        End General 
------------------------------------------------------------- */

/*------------------------------------------------------------
                        Start Loading 
--------------------------------------------------------------*/
.loading-scroll-hiden{
    overflow-y: hidden;
}
.body{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fdfdfd;
    z-index: 9999;
    display: table;
}
.center{
    display: table-cell;
    vertical-align: middle;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*-------------------------------------------------------------
                      End Loading
---------------------------------------------------------------*/